<div style="height: 100px"></div>

<div class="container">
    
    <div class="row title">
        <h2>Conditions d'utilisation</h2>
    </div>

    <div class="row">
        <h3>LE FONCTIONNEMENT DE LA RECONNAISSANCE FACIALE</h3>
        <p>
            Les systèmes de reconnaissance faciale saisissent une image entrante provenant d’une caméra,de manière
            bidimensionnelle ou tridimensionnelle, conformément aux caractéristiques du dispositif.
            Ceux-ci comparent les informations pertinentes du signal de l’image entrante en temps réel, provenant d’une
            photo ou vidéo dans une base de données, ce qui est beaucoup plus fiable et sûr que les informations
            obtenues à partir d’une image statique. Cette procédure de reconnaissance faciale biométrique requiert une
            connexion à Internet, la base de données ne pouvant pas être située dans le dispositif de saisie puisqu’elle
            est hébergée dans des serveurs.
        </p>
        <p>
            Lors de cette comparaison entre visages, il analyse mathématiquement l’image entrante sans aucune marge d’erreur
            et vérifie que les données biométriques correspondent à la personne qui doit faire usage du service ou sollicite
            l’accès à une application, un système, voire un immeuble.
        </p>
        <p>
            Grâce à l’utilisation de l’intelligence artificielle (IA) et des technologies d’apprentissage automatique, les
            systèmes de reconnaissance faciale peuvent fonctionner conformément aux standards les plus élevés de sécurité et
            fiabilité. De manière similaire, grâce à l’intégration de ces algorithmes et techniques informatiques, le
            processus peut être mené à bien en temps réel.
        </p>
    </div>


    <div class="row">
        <h3>CAS D’USAGE EN MATIÈRE DE RECONNAISSANCE FACIALE</h3>
        <p>
            Les usages de la reconnaissance faciale se focalisent sur la vérification ou l’authentification. Cette technologie est utilisée, par exemple, dans des situations telles que :
           
        </p>
        <ul>
            <li> Accès aux applications portables sans mot de passe.</li>
            <li> Accès à des services en ligne préalablement souscrits(connexion à des plateformes en ligne, par exemple).</li>
            <li> Accès aux immeubles (bureau, évènements, installations de toute sorte …).</li>
            <li> Méthode de règlement, à la fois dans des magasins physiques et en ligne.</li>
            <li>Accès à un dispositif verrouillé.</li>
        </ul>
          
        <p>
            Grâce à l’utilisation de l’intelligence artificielle (IA) et des technologies d’apprentissage automatique, les
            systèmes de reconnaissance faciale peuvent fonctionner conformément aux standards les plus élevés de sécurité et
            fiabilité. De manière similaire, grâce à l’intégration de ces algorithmes et techniques informatiques, le
            processus peut être mené à bien en temps réel.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, omnis quae quasi distinctio aspernatur labore porro soluta magnam quidem. Pariatur sint asperiores libero vel natus sapiente blanditiis soluta ipsa. Placeat eum voluptate officia natus aspernatur! Fugit omnis neque ad ipsam amet ipsa voluptatem perspiciatis dolorum?
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora minus harum officiis. Dolores fugit aliquam consequatur modi, velit ab labore inventore quas. Ex laborum repudiandae commodi, facilis tempore quia quaerat mollitia dolores expedita ratione nihil maxime sapiente perferendis provident numquam dicta, possimus alias.
        </p>
    </div>
    <div class="row justify-content-between">
        <div class="col-6 mt-2">
            <div class="row">
                <button type="button" class="btn btn-success mr-2 accept" routerLink="/instructions">J' ACCEPTE</button>
                <button type="button" class="btn btn-danger refuse" routerLink="/">JE REFUSE</button>
            </div>
            <div class="row mt-3">
                <p class="termes">En cliquant "J' ACCEPTE", je reconnais avoir pris connaissance des Conditions Générales d'Utilisation de l'application ainsi que sa Politique de Confidentialité et je les accepte. </p>
            </div>
        </div>
        <div class="col-6 mr-auto">
            <img class="img-responsive img-2" src="../../assets/images/more.svg" alt="">
        </div>
        
           
    </div>


</div>
