
h2, h3, p, li {
    color: #312E63;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.2em;
    text-decoration: underline;
}

p {
    text-align: justify;
    font-size: 1em;
}

.btn {
    font-weight: normal;
    color: #312E63;
    border: none !important;
}

.accept {
    background-color: #6FBD5C !important;
}

.refuse {
    background-color: #19ACEF !important;
}

.img-2{
    
    max-width: 30%;
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
    display: block;
    margin-left: auto;
}

.termes {
    font-size: .8em;
    text-transform: uppercase;
    font-style: italic;
}