<div class="background-white container">

  <h1>Calendrier</h1>
  <hr>

  <mat-progress-bar *ngIf="!isFetch" mode="indeterminate"></mat-progress-bar>

  <div *ngIf="isFetch" class="table-responsive">
    <div class="row no-gutters align-items-center mb-2">
      <div class="carreVert"></div><span class="ml-2">Présent</span>
      <div class="carreJaune ml-3"></div><span class="ml-2">Télétravail</span>
    </div>
    <table class="table table-bordered text-center align-middle">
      <tr>
        <th class="align-middle" scope="col" rowspan="2"> 
          <mat-form-field style="width: 180px; font-size: 25px;" appearance="legacy">
            <input matInput [matDatepicker]="picker" [ngModel]="currentForm" (ngModelChange)="changeDate($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </th>
        <th scope="col" colspan="2">Lundi</th>
        <th scope="col" colspan="2">Mardi</th>
        <th scope="col" colspan="2">Mercredi</th>
        <th scope="col" colspan="2">Jeudi</th>
        <th scope="col" colspan="2">Vendredi</th>
      </tr>
      <tr>
        <th scope="col">AM</th>
        <th scope="col">PM</th>
        <th scope="col">AM</th>
        <th scope="col">PM</th>
        <th scope="col">AM</th>
        <th scope="col">PM</th>
        <th scope="col">AM</th>
        <th scope="col">PM</th>
        <th scope="col">AM</th>
        <th scope="col">PM</th>
      </tr>
      <tr>
        <th scope="row">
          Semaine du {{getDayFromMonday(lastWeek, 0) | date:'dd/MM'}} au
          {{getDayFromMonday(lastWeek, 6) | date:'dd/MM'}}
        </th>
        <td *ngFor="let halfDay of calendar[0][0]"
          [style.background-color]="halfDay.color"
          (mousedown)="editColor(halfDay, 0, 0)">
        </td>
        <td *ngFor="let halfDay of calendar[0][1]"
          [style.background-color]="halfDay.color"
          (mousedown)="editColor(halfDay, 0, 1)">
        </td>
        <td *ngFor="let halfDay of calendar[0][2]"
          [style.background-color]="halfDay.color"
          (mousedown)="editColor(halfDay, 0, 2)">
        </td>
        <td *ngFor="let halfDay of calendar[0][3]"
          [style.background-color]="halfDay.color"
          (mousedown)="editColor(halfDay, 0, 3)">
        </td>
        <td *ngFor="let halfDay of calendar[0][4]"
          [style.background-color]="halfDay.color"
          (mousedown)="editColor(halfDay, 0, 4)">
        </td>
        <td *ngFor="let halfDay of calendar[0][5]"
          [style.background-color]="halfDay.color"
          (mousedown)="editColor(halfDay, 0, 5)">
        </td>
      </tr>
      <tr>
        <th scope="row">
          Semaine du {{getDayFromMonday(currentWeek, 0) | date:'dd/MM'}} au
          {{getDayFromMonday(currentWeek, 6) | date:'dd/MM'}}
        </th>
        <td *ngFor="let halfDay of calendar[1][0]"
          [style.background-color]="halfDay.color"
          (mousedown)="editColor(halfDay, 1, 0)">
        </td>
        <td *ngFor="let halfDay of calendar[1][1]"
          [style.background-color]="halfDay.color"
          (mousedown)="editColor(halfDay, 1, 1)">
        </td>
        <td *ngFor="let halfDay of calendar[1][2]"
          [style.background-color]="halfDay.color"
          (mousedown)="editColor(halfDay, 1, 2)">
        </td>
        <td *ngFor="let halfDay of calendar[1][3]"
          [style.background-color]="halfDay.color"
          (mousedown)="editColor(halfDay, 1, 3)">
        </td>
        <td *ngFor="let halfDay of calendar[1][4]"
          [style.background-color]="halfDay.color"
          (mousedown)="editColor(halfDay, 1, 4)">
        </td>
        <td *ngFor="let halfDay of calendar[1][5]"
          [style.background-color]="halfDay.color"
          (mousedown)="editColor(halfDay, 1, 5)">
      </tr>
      <tr>
        <th scope="row">
          Semaine du {{getDayFromMonday(nextWeek, 0) | date:'dd/MM'}} au
          {{getDayFromMonday(nextWeek, 6) | date:'dd/MM'}}
        </th>
        <td *ngFor="let halfDay of calendar[2][0]"
          [style.background-color]="halfDay.color"
          (mousedown)="editColor(halfDay, 2, 0)">
        </td>
        <td *ngFor="let halfDay of calendar[2][1]"
          [style.background-color]="halfDay.color"
          (mousedown)="editColor(halfDay, 2, 1)">
        </td>
        <td *ngFor="let halfDay of calendar[2][2]"
          [style.background-color]="halfDay.color"
          (mousedown)="editColor(halfDay, 2, 2)">
        </td>
        <td *ngFor="let halfDay of calendar[2][3]"
          [style.background-color]="halfDay.color"
          (mousedown)="editColor(halfDay, 2, 3)">
        </td>
        <td *ngFor="let halfDay of calendar[2][4]"
          [style.background-color]="halfDay.color"
          (mousedown)="editColor(halfDay, 2, 4)">
        </td>
        <td *ngFor="let halfDay of calendar[2][5]"
          [style.background-color]="halfDay.color" 
          (mousedown)="editColor(halfDay, 2, 5)">
      </tr>
    </table>
  </div>

  <button *ngIf="isFetch" mat-raised-button class="mb-3" (click)="isEdit = !isEdit">
    <mat-icon class="mr-2">edit</mat-icon> Modifier
  </button>

  <mat-chip-list *ngIf="isFetch && isEdit">
    <mat-chip (mousedown)='color = "#3AE374"'>
      Présent
      <mat-icon class="ml-1" style="color: #3AE374">brush</mat-icon>
    </mat-chip>
    <mat-chip (mousedown)='color = "#FFF200"'>
      Télétravail
      <mat-icon class="ml-1" style="color: #FFF200">brush</mat-icon>
    </mat-chip>
    <mat-chip (mousedown)='color = "#FFFFFF"'>
      Non présent
      <mat-icon class="ml-1" style="color: #FFFFFF">brush</mat-icon>
    </mat-chip>
  </mat-chip-list>

</div>